nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.8;
    height: 40px;
    position: fixed;
    top: 0;
    overflow: hidden;

}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 40px;
    color: white;
}

nav a:hover {
    transform: scale(1.1);
}